<form class="form" [formGroup]="taskForm" (ngSubmit)="submitTaskForm()">
  <div class="button-row">
    <button type="reset">New Task</button>
  </div>
  <div class="form-control">
    <label for="id">ID</label>
    <input id="id" formControlName="id">
  </div>
  <div class="form-control">
    <label for="name">Name</label>
    <input id="name" formControlName="name">
  </div>
  <div class="form-control">
    <label for="details">Details</label>
    <textarea id="details" formControlName="details"></textarea>
  </div>
  <div class="form-control">
    <label for="priorityId">Priority</label>
    <select id="priorityId" formControlName="priorityId">
      <option *ngFor="let priority of taskPriorities" value="{{priority.id}}">{{priority.name}}</option>
    </select>
  </div>
  <div class="button-row">
    <button type="submit">Save Task</button>
  </div>
</form>
