.form {
  button {
    background-color: #eeeeee;
    color: #333333;
    border-radius: 15px;
    margin: 6px 0 6px 0;
    font-size: 1.4rem;
  }

  .form-control {
    label {
      display: block;
      margin-right: 12px;
      margin-top: 6px;
      font-size: 1.35rem;
    }

    input, textarea, select {
      width: 100%;
      font-size: 1.25rem;
    }
  }
}
