ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 3px;
  font-size: 1.1rem;

  > div {
    display: flex;
    flex: 0 1 1px;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-right: 3px;

    &:first-child {
      flex: 1 0 1px;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
