<h1>Task Lisk</h1>
<div *ngIf="taskCount() <= 0">WooHoo! All done!</div>
<ul *ngIf="taskCount() > 0">
  <li *ngFor="let task of tasks">
    <div>{{task.name}}</div>
    <div *ngIf="task.priority_id">({{task.priority_name}})</div>
    <div>
      <button (click)="deleteTask(task.id)">X</button>
    </div>
  </li>
</ul>
